<center>

    <img width="100" src="/images/ok.png" />
    <br />
    <a>guía cargada exitosamente</a>
</center>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
        await Task.Delay(1000);
        ModalInstance.CloseAsync(ModalResult.Ok($"Form was submitted successfully."));

    }
}